@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #eeeeee;

}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
nav{
    background-color:#e4e4e4 ;
}

nav .logo p{
    line-height: 70px;
    float: left;
    padding-left: 60px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
    color: #8675a9;
}
nav ul{
    float: right;
    margin-right: 40px;
    position: relative;
}
nav:after{
    content:'';
    clear:both;
    display: table;
}
nav ul li {
    display: inline-block;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    line-height: 70px;
    padding: 8px 15px;
}
i{
   margin-left: 45px;
}
nav ul li a.one:hover{
border-top:#8bc5c6 2px solid; ;
}
nav ul li a.two:hover{
    border-right: #8bc5c6 2px solid;
    border-left: #8bc5c6 2px solid;
}
nav ul li a:hover{
    color:#8bc5c6;
}
nav ul ul{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: top .1s;
}
nav ul li:hover>ul{
opacity: 1;
visibility: visible;
}
nav ul ul li{
    position: relative;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0.3);
}
nav ul ul li:hover{
    border-right: #8bc5c6 2px solid;
    border-left: #8bc5c6 2px solid;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left:130px;
}
nav ul ul ul li a:hover{
    color: #8675a9;
}
/*Respoinsivenes*/

input{
    display: none;
}
@media(max-width:806px){
    .logo {
        display:none;
    }
  nav ul {
      margin-right: 0px;
  }
  @media(max-width:766px){
    .icon{
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 27px;
    }
    .logo {
        display: block;
    } 
    nav .logo p{
        padding-left: 30px;
        width: 100%;
    }
    nav ul {
        float: left;
        margin-right: 0;
    }
    nav ul li{
        display: block;
        width: 100%;
    }
    .show{
        padding: 0 20px;
        cursor: pointer;
        line-height: 70px;
    }
    nav ul ul li{
        display: block;
        width: 100%;;
    }
    nav ul ul {
        position: relative;
        float: none;
        opacity: 1;
        visibility: visible;
    }
    .show+a, ul{
        display: none;
    }
    [id^=btn]:checked+ul{
        display: block;
    }
    .show:hover{
        color: #8675a9;
    }
    nav ul ul li:hover{
      border-right: none;
      border-left: none;
    }
    .two, .more{
        display: none;
    }
    nav ul ul li{
        border: none;
        float: left;
        padding-left:20px;
    }
    nav ul ul li a{
        border: #8675a9 2px solid;
    }
    nav ul ul li a:hover{
        color: black;
    }
    nav ul ul li a:hover{
        background:whitesmoke ;
    }
    nav ul ul ul li{
        position: relative;
        left:20px;
        top: 10px;
    }
    nav ul li a.one:hover{
        border-top: none;
        color: #8675a9;
    }
}
}